*{
    margin-left: 0px;
    padding: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}
body{
    margin-left: 10px;
    background-color:cadetblue;
}

.college{
    text-align: center;
    font-weight: lighter;
    font-size:larger;

}
.container{
    margin-left: 20px;

}
.container li {
    text-decoration: none;
}
.container li a{
    text-decoration: none;

}
ol{
    margin-left: 40px;
    list-style: none;
}

.Pksir{
    height: 300px;
    width: 300px;
    background-image: url(gallery/Pramodsir.jpg);
    background-position: fixed;
    background-size: cover;    
}

.Aksir{
    height: 300px;
    width: 300px;
    background-image: url(gallery/aksir.jpg);
    background-position: fixed;
    background-size: cover;
}

.Artimam{
    height: 300px;
    width: 300px;
    background-image: url(gallery/artimam.jpg);
    background-position: fixed;
    background-size: cover;
}

.Munnasir{
    height: 300px;
    width: 300px;
    background-image: url(gallery/munnasir.jpg);
    background-position: fixed;
    background-size: cover;
}
.Rahulsir{
    height: 300px;
    width: 300px;
    background-image: url(gallery/rahulsir.jpg);
    background-position: fixed;
    background-size: cover;
}